/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   Normalize.css is intended to be used as an alternative to CSS resets.

   It is suggested that you read through the normalize.css file and customise it
   to meet the design requirements of a project rather including it as a "black
   box". @see http://nicolasgallagher.com/about-normalize-css/

   Also: @see http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/
         @see http://snook.ca/archives/html_and_css/no_css_reset/
   ========================================================================== */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 35, ../sass/normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 45, ../sass/normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
/* line 58, ../sass/normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 68, ../sass/normalize.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/* Instead of relying on the fonts that are available on a user's computer, you
   can use web fonts which, like images, are resources downloaded to the user's
   browser. Because of the bandwidth and rendering resources required, web fonts
   should be used with care.

   Numerous resources for web fonts can be found on Google. Here are a few
   websites where you can find Open Source fonts to download:
   - http://www.fontsquirrel.com/fontface
   - http://www.theleagueofmoveabletype.com

   In order to use these fonts, you will need to convert them into formats
   suitable for web fonts. We recommend the free-to-use Font Squirrel's
   Font-Face Generator:
     http://www.fontsquirrel.com/fontface/generator

   The following is an example @font-face declaration. This font can then be
   used in any ruleset using a property like this:  font-family: Example, serif;

   Since we're using Sass, you'll need to declare your font faces here, then you
   can add them to the font variables in the _base.scss partial.
*/
/*
@font-face {
  font-family: 'Example';
  src: url('../fonts/example.eot');
  src: url('../fonts/example.eot?iefix') format('eot'),
    url('../fonts/example.woff') format('woff'),
    url('../fonts/example.ttf') format('truetype'),
    url('../fonts/example.svg#webfontOkOndcij') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 119, ../sass/normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  /* Establishes a vertical rhythm unit using $base-line-height. */
  line-height: 1.5em;
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 135, ../sass/normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 143, ../sass/normalize.scss */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * The order of link states are based on Eric Meyer's article:
 * http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
 */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 174, ../sass/normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 184, ../sass/normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography

   To achieve a pleasant vertical rhythm, we use Compass' Vertical Rhythm mixins
   so that the line height of our base font becomes the basic unit of vertical
   measurement. We use multiples of that unit to set the top and bottom margins
   for our block level elements and to set the line heights of any fonts.
   For more information, see http://24ways.org/2006/compose-to-a-vertical-rhythm
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 204, ../sass/normalize.scss */
h1 {
  /* Sets the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Sets 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/* line 213, ../sass/normalize.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 219, ../sass/normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

/* line 225, ../sass/normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 231, ../sass/normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

/* line 237, ../sass/normalize.scss */
h6 {
  font-size: 0.75em;
  line-height: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* Thematic break */
/* line 244, ../sass/normalize.scss */
hr {
  height: 1px;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: 1.5em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 255, ../sass/normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
  white-space: nowrap;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 266, ../sass/normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 270, ../sass/normalize.scss */
blockquote {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 1.5em 20px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 279, ../sass/normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 287, ../sass/normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
/* line 297, ../sass/normalize.scss */
p,
pre {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 1.5em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 312, ../sass/normalize.scss */
pre,
code,
kbd,
samp,
tt,
var {
  font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
  /* The $font-monospace value ends with ", serif". */
  font-size: 1em;
  line-height: 1.5em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 324, ../sass/normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 337, ../sass/normalize.scss */
q {
  quotes: none;
}

/* 2 */
/* line 344, ../sass/normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* @todo Determine how big element affects vertical rhythm. */
/* line 350, ../sass/normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 360, ../sass/normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 367, ../sass/normalize.scss */
sup {
  top: -0.5em;
}

/* line 371, ../sass/normalize.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
/* line 388, ../sass/normalize.scss */
dl,
menu,
ol,
ul,
.item-list ul {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 1.5em 0;
}

/* line 393, ../sass/normalize.scss */
.item-list ul li {
  /* Drupal override */
  margin: 0;
}

/* line 397, ../sass/normalize.scss */
dd {
  margin: 0 0 0 20px;
  /* LTR */
}

/* line 402, ../sass/normalize.scss */
ul ul, ul ol, ol ul, ol ol, .item-list ul ul, .item-list ul ol, .item-list ol ul, .item-list ol ol {
  margin: 0;
  /* Turn off margins on nested lists. */
}

/*
 * Addresses paddings set differently in IE6/7
 */
/* line 414, ../sass/normalize.scss */
menu,
ol,
ul,
.item-list ul {
  padding: 0 0 0 20px;
  /* LTR */
}

/*
 * Corrects list images handled incorrectly in IE7
 */
/* line 423, ../sass/normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 439, ../sass/normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
  /* vertical-align: bottom; */
  /* Suppress the space beneath the baseline */
  /* Responsive images */
  /* @todo Add responsive embedded video. */
  max-width: 100%;
  height: auto;
}

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 455, ../sass/normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 468, ../sass/normalize.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 481, ../sass/normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 489, ../sass/normalize.scss */
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 0.4625em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 0.9125em;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: 0.9125em;
  border-right-style: solid;
  border-right-width: 0.0625em;
  padding-right: 0.9125em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 505, ../sass/normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 523, ../sass/normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 537, ../sass/normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 551, ../sass/normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 564, ../sass/normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 576, ../sass/normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 590, ../sass/normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 600, ../sass/normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 610, ../sass/normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 620, ../sass/normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 634, ../sass/normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  /* width: 100%; */
  /* Prevent cramped-looking tables */
  /* Add vertical rhythm margins. */
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/*
 * Drupal provides table styling which is only useful for its admin section
 * forms, so we override this default CSS. (We set it back in forms.css.)
 */
/* line 648, ../sass/normalize.scss */
th {
  text-align: left;
  /* LTR */
  padding: 0;
  border-bottom: none;
}

/* line 654, ../sass/normalize.scss */
tbody {
  border-top: none;
}

/* line 10, ../sass/_formalize.scss */
.input_tiny {
  width: 50px;
}

/* line 14, ../sass/_formalize.scss */
.input_small {
  width: 100px;
}

/* line 18, ../sass/_formalize.scss */
.input_medium {
  width: 150px;
}

/* line 22, ../sass/_formalize.scss */
.input_large {
  width: 200px;
}

/* line 26, ../sass/_formalize.scss */
.input_xlarge {
  width: 250px;
}

/* line 30, ../sass/_formalize.scss */
.input_xxlarge {
  width: 300px;
}

/* line 34, ../sass/_formalize.scss */
.input_full {
  width: 100%;
}

/* line 41, ../sass/_formalize.scss */
.input_full_wrap {
  display: block;
  padding-right: 8px;
}

/* line 49, ../sass/_formalize.scss */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 60, ../sass/_formalize.scss */
input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 64, ../sass/_formalize.scss */
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}

/* line 75, ../sass/_formalize.scss */
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 84, ../sass/_formalize.scss */
button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #dddddd url('../images/button.png') repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  display: inline-block;
  font: bold 12px/1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 3px 10px;
  text-shadow: white 0 1px 1px;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0;
}
/* line 106, ../sass/_formalize.scss */
button:hover,
a.button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -o-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  text-decoration: none;
}
/* line 110, ../sass/_formalize.scss */
button:active,
a.button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#dddddd, #eeeeee);
  background-image: -moz-linear-gradient(#dddddd, #eeeeee);
  background-image: -o-linear-gradient(#dddddd, #eeeeee);
  background-image: linear-gradient(#dddddd, #eeeeee);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  border-color: #999999 #bbbbbb #dddddd;
}
/* line 120, ../sass/_formalize.scss */
button::-moz-focus-inner,
a.button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 126, ../sass/_formalize.scss */
a.button {
  *padding-bottom: 3px;
}

/* line 131, ../sass/_formalize.scss */
button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

/* line 151, ../sass/_formalize.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  height: 1.8em;
  vertical-align: top;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}
/* line 174, ../sass/_formalize.scss */
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee;
}

/* line 185, ../sass/_formalize.scss */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default;
}

/* line 199, ../sass/_formalize.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888888;
}

/* line 204, ../sass/_formalize.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888;
}

/* line 209, ../sass/_formalize.scss */
input.placeholder_text,
textarea.placeholder_text {
  color: #888888;
}

/* line 215, ../sass/_formalize.scss */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* line 222, ../sass/_formalize.scss */
select[size="0"],
select[size="1"] {
  height: 1.8em;
  *height: auto;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 232, ../sass/_formalize.scss */
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  /* line 238, ../sass/_formalize.scss */
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 245, ../sass/_formalize.scss */
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }

  /* line 259, ../sass/_formalize.scss */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border-color: #666666;
  }
}
/* line 267, ../sass/_formalize.scss */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 274, ../sass/_formalize.scss */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 282, ../sass/_formalize.scss */
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 313, ../sass/_formalize.scss */
.ie6_button,
* html button,
* html a.button {
  background: #dddddd url('../images/button.png') repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0px;
  text-decoration: none;
  overflow: visible;
  vertical-align: top;
  width: auto;
}

/* line 327, ../sass/_formalize.scss */
* html a.button {
  position: relative;
  top: 3px;
  padding-bottom: 2px;
}

/* line 333, ../sass/_formalize.scss */
* html button {
  padding-top: 1px;
  padding-bottom: 1px;
}

/* line 340, ../sass/_formalize.scss */
.ie6_input,
* html textarea,
* html select {
  background: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top;
}

/* line 351, ../sass/_formalize.scss */
* html select {
  margin-top: 1px;
}

/* line 357, ../sass/_formalize.scss */
.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888;
}

/* line 361, ../sass/_formalize.scss */
.ie6_input_disabled {
  background: #eeeeee;
}

/* Global styling */
/* line 6, ../sass/main.scss */
body {
  color: #200808;
}

/* line 10, ../sass/main.scss */
a {
  text-decoration: none;
  color: #193338;
}
/* line 13, ../sass/main.scss */
a:hover {
  color: #614c3b;
}

/* Header styling */
/* line 20, ../sass/main.scss */
#header {
  padding: 10px;
  background: #193338;
  color: #b6ae8d;
  font-family: 'Monda', sans-serif;
}
/* line 25, ../sass/main.scss */
#header .container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
/* line 30, ../sass/main.scss */
#header a {
  color: #b6ae8d;
}
/* line 33, ../sass/main.scss */
#header #site-name {
  font-size: 2.5em;
  line-height: 2em;
  margin-left: 40px;
}
/* line 37, ../sass/main.scss */
#header #site-name a {
  color: #b6ae8d;
  text-shadow: 2px 2px 0px #200808;
}
/* line 42, ../sass/main.scss */
#header #logo img {
  max-width: 150px;
}

/* Nav styling */
/* line 49, ../sass/main.scss */
#navigation {
  margin: 20px 0;
  height: 5em;
}
/* line 52, ../sass/main.scss */
#navigation li {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 2px solid #7f8a63;
}
/* line 56, ../sass/main.scss */
#navigation li:last-child {
  border: none;
}
/* line 59, ../sass/main.scss */
#navigation li a {
  color: #614c3b;
}
/* line 61, ../sass/main.scss */
#navigation li a.active, #navigation li a:hover {
  color: #193338;
  text-decoration: underline;
}

/* Posts styling */
/* line 71, ../sass/main.scss */
#content {
  margin-top: 22px;
}

/* line 75, ../sass/main.scss */
.sidebars {
  margin-top: 20px;
  overflow: hidden;
}
/* line 78, ../sass/main.scss */
.sidebars h2 {
  font-family: 'Monda', sans-serif;
  font-weight: normal;
}

/* line 84, ../sass/main.scss */
#page-title {
  font-family: 'Monda', sans-serif;
  color: #614c3b;
  padding-bottom: 5px;
  margin-bottom: 40px;
  border-bottom: 2px solid #193338;
}

/* line 92, ../sass/main.scss */
.views-row {
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #7f8a63;
}
/* line 96, ../sass/main.scss */
.views-row .group-right {
  margin-top: -5px;
}
/* line 99, ../sass/main.scss */
.views-row .field-type {
  font-size: 90%;
}
/* line 102, ../sass/main.scss */
.views-row .field-description {
  margin-bottom: 20px;
}

/* line 106, ../sass/main.scss */
.field-label {
  font-weight: bold;
  margin-top: -5px;
}

/* line 110, ../sass/main.scss */
.field-image img {
  max-width: 400px;
}

/* line 113, ../sass/main.scss */
.field-location {
  margin-top: 20px;
}

/* line 117, ../sass/main.scss */
#view-id-issues-block_1 .views-row {
  border: none;
}

/*Comments styling */
/* line 123, ../sass/main.scss */
#comment-body-add-more-wrapper .filter-wrapper {
  display: none;
}

/* Slideshow styling */
/* line 127, ../sass/main.scss */
.field-slideshow-controls {
  margin: 10px 0 20px;
}

/* Form styling */
/* line 133, ../sass/main.scss */
html.js input.form-autocomplete {
  background-position: 100% 5px;
}

/* line 145, ../sass/main.scss */
form .form-item textarea, form .form-item select,
form .form-item input[type="date"], form .form-item input[type="datetime"],
form .form-item input[type="datetime-local"], form .form-item input[type="email"],
form .form-item input[type="month"], form .form-item input[type="number"],
form .form-item input[type="password"], form .form-item input[type="search"],
form .form-item input[type="tel"], form .form-item input[type="text"],
form .form-item input[type="time"], form .form-item input[type="url"], form .form-item input[type="week"] {
  height: 2.1em;
  width: 50%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-width: 2px;
}
/* line 150, ../sass/main.scss */
form .form-item textarea:focus, form .form-item select:focus,
form .form-item input[type="date"]:focus, form .form-item input[type="datetime"]:focus,
form .form-item input[type="datetime-local"]:focus, form .form-item input[type="email"]:focus,
form .form-item input[type="month"]:focus, form .form-item input[type="number"]:focus,
form .form-item input[type="password"]:focus, form .form-item input[type="search"]:focus,
form .form-item input[type="tel"]:focus, form .form-item input[type="text"]:focus,
form .form-item input[type="time"]:focus, form .form-item input[type="url"]:focus, form .form-item input[type="week"]:focus {
  border-color: #7f8a63;
  outline-color: #b6ae8d;
}
/* line 157, ../sass/main.scss */
form .form-item .resizable-textarea textarea {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
/* line 160, ../sass/main.scss */
form .form-item .resizable-textarea .grippie {
  width: 49.8%;
}
/* line 164, ../sass/main.scss */
form .form-item .description {
  font-size: 0.75em;
}
/* line 168, ../sass/main.scss */
form input.geofield-gmap-search {
  height: 2.1em;
  width: 50%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-width: 2px;
}
/* line 173, ../sass/main.scss */
form input.geofield-gmap-search:focus {
  border-color: #193338;
  outline-color: #b6ae8d;
}
/* line 178, ../sass/main.scss */
form .geofield-gmap-cnt {
  width: 50%;
  margin-top: 20px;
}

/* line 184, ../sass/main.scss */
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
/* line 188, ../sass/main.scss */
fieldset .fieldset-legend {
  font-weight: bold;
}

/* line 193, ../sass/main.scss */
input[type="submit"], .button, button, a.prev, a.next {
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #193338;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF7F8A63', endColorstr='#FF193338');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7f8a63), color-stop(100%, #193338));
  background-image: -webkit-linear-gradient(top, #7f8a63 0%, #193338 100%);
  background-image: -moz-linear-gradient(top, #7f8a63 0%, #193338 100%);
  background-image: -o-linear-gradient(top, #7f8a63 0%, #193338 100%);
  background-image: linear-gradient(top, #7f8a63 0%, #193338 100%);
  border: 1px solid #193338;
  color: #b6ae8d;
  text-shadow: 1px 1px 1px #200808;
}
/* line 202, ../sass/main.scss */
input[type="submit"]:hover, .button:hover, button:hover, a.prev:hover, a.next:hover {
  background-color: #193338;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF193338', endColorstr='#FF7F8A63');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #193338), color-stop(100%, #7f8a63));
  background-image: -webkit-linear-gradient(top, #193338 0%, #7f8a63 100%);
  background-image: -moz-linear-gradient(top, #193338 0%, #7f8a63 100%);
  background-image: -o-linear-gradient(top, #193338 0%, #7f8a63 100%);
  background-image: linear-gradient(top, #193338 0%, #7f8a63 100%);
}

/* line 209, ../sass/main.scss */
button + button, input[type="submit"] + input[type="submit"], a.prev + a.next {
  margin-left: 20px;
}
